@model List<Factura>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirVenta</title>
    <style>
        .contenedor {
            width: 900px !important;
            height: 842px !important;
            margin: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif
        }

        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #0F2949;
            font-size: 20px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #858585;
        }

        p {
            margin: 0px
        }

        .tbth {
            text-align: left;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #0F2949;
                padding: 10px;
                font-size: 15px;
                color: white;
            }

            table.tbproductos tbody tr td {
                padding: 10px;
            }

        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #757575;
        }

        .item-3 {
            font-size: 15px;
            font-weight: bold;
            background-color: #0F2949;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }
    </style>
</head>
<body>

    <div class="contenedor">
        <p style="text-align:center;" class="title2">REPORTE TOTALIDAD DE VENTAS</p>
        <p style="text-align:center;" class="title">INVENTARIO ROUSES FOREVER</p>
        <table style="width:100%">
            <tr>
                <td>
                    <img src="~/imagenes/Rouses.png" style="width: 250px;" />
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr><td><p class="title2">REPORTE</p></td></tr>
                        <tr><td>R00000</td></tr>
                        <tr><td></td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />

        <br />

        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth">Fecha Venta</th>
                    <th colspan="3" lass="tbth" style="width:130px">Metodo de pago</th>
                    <th class="tbth" style="width:130px">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int? contador = 0;
                }
                @{
                    foreach (var item in Model)
                    {
                        contador = contador + item.ImporteTotal;
                        <tr>
                            <td class="td-item"><p class="item">@item.FechaFactura</p></td>
                            <td colspan="3" class="td-item"><p class="item">@item.MetodoPago</p></td>
                            <td class="td-item"><p class="item">Q. @item.ImporteTotal</p></td>
                        </tr>

                    }
                }
                <tr>
                    <td colspan="3" rowspan="3">
                    </td>
                    <td class="td-item">
                        <p class="item-2">Total de ventas</p>
                    </td>
                    <td class="td-item">
                        <p class="item-2">Q. @contador</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <p style="text-align:center;" class="text">************************************************************Última Linea************************************************************</p>
    </div>

</body>
</html>