@model InventarioRForever.Models.Reporte

<section class="full-width header-well">
	<div class="full-width header-well-icon">
		<i class="zmdi zmdi-balance"></i>
	</div>
	<div class="full-width header-well-text">
		<p class="text-condensedLight">
			Bienvenido a la sección de lista de Materiales para ordenes de fabricación de productos de la empresa Rouses Forever.
		</p>
	</div>
</section>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	<div class="mdl-tabs__tab-bar">
		<a href="#tabNewClient" class="mdl-tabs__tab is-active">LISTA DE MATERIALES</a>
		<a href="#tabListClient" class="mdl-tabs__tab">REPORTE DE MATERIALES</a>
	</div>
	<div class="mdl-tabs__panel is-active" id="tabNewClient">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="full-width panel mdl-shadow--2dp">
					<div class="full-width panel-tittle bg-primary text-center tittles">
						NUEVO MATERIAL
					</div>
					<div class="full-width panel-content">
						<div class="mdl-list">
							<div id="modal-placeholder"></div>
							<table id="example" class="display" style="width:100%">
								<thead>
									<tr>
										<th>Codigo Material</th>
										<th>Nombre Material</th>
										<th>Cantidad en Stock</th>
										<th>Detalles</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Codigo Material</th>
										<th>Nombre Material</th>
										<th>Cantidad en Stock</th>
										<th>Detalles</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="mdl-tabs__panel" id="tabListClient">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
				<div class="full-width panel mdl-shadow--2dp">
					<div class="full-width panel-tittle bg-success text-center tittles">
						REPORTE INVENTARIO MATERIALES
					</div>
					<div class="full-width panel-content">
						<form asp-action="stockMaterial" target="_blank">
							<div class="mdl-cell mdl-cell--12-col">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<label asp-for="CodMaterial" class="mdl-textfield__label">Nombre Cliente</label>
									<select asp-for="CodMaterial" class="mdl-textfield__input" asp-items="ViewBag.CodMaterial">
										<option value="0">Todos los productos</option>
									</select>
								</div>
								
							</div>
							<button type="submit" class="btn btn-raised btn-info" target><i class="zmdi zmdi-download"></i> &nbsp; GENERAR REPORTE<div class="ripple-container"></div></button>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<script>
	var placeholderElement = $("#modal-placeholder");
	$(document).ready(function () {
		var table = $("#example").DataTable({

			"orderCellsTop": true,
			"fixedHeader": true,
			language:
			{
				"sProcessing": "Procesando...",
				"sLengthMenu": "Mostrar _MENU_ registros",
				"sZeroRecords": "No se encontraron resultados",
				"sEmptyTable": "Ningún dato disponible en esta tabla",
				"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix": "",
				"sSearch": "Buscar:",
				"sUrl": "",
				"sInfoThousands": ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst": "Primero",
					"sLast": "Último",
					"sNext": "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				},
				"buttons": {
					"copy": "Copiar",
					"colvis": "Visibilidad"
				}
			},
			"aoColumnDefs": [
				{
					'bSortable': false,
					'aTargets': [3]
				}],
			"proccessing": true,
			"filter": true,
			"ajax": {
				"url": "@Url.Content("~/Material/listadeMateriales")",
				"type": "POST",
				"datatype": "json"
			},
			"pageLength": 10,
			"responsivePriority": 1,
			"data": null,
			"columns": [
				{ "data": "codMaterial", "name": "CodMaterial", "autoWidth": true },
				{ "data": "nombreMaterial", "name": "NombreMaterial", "autoWidth": true },
				{ "data": "stock", "name": "Stock", "autoWidth": true },
				{ "defaultContent": "<button id='iddetalle' type='button' class='form btn btn-info'><span class='zmdi zmdi-view-list-alt'></span>&nbsp;&nbsp;Detalles</button>" },
			],

		});


		$('#example tbody').on('click', '#iddetalle', function () //Al hacer click sobre el boton button.form de la linea de arriba
		{
			var row = $(this).parent().parent().children().first().text();
			// console.log(row);
			//alert("cod: "+row);
			$.ajax({
				url: "/Material/detalleMaterial",
				method: "GET",
				data: { id: row },
				async: true,
				success: function (res) {
					placeholderElement.html(res);
					placeholderElement.find('.modal').modal('show');
				}
			});

		});

	});
</script>