@model InventarioRForever.Models.DevolucionMaterial

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DevolucionMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodDevolucionMaterial" />
            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDevolucion" class="control-label"></label>
                <input asp-for="TipoDevolucion" class="form-control" />
                <span asp-validation-for="TipoDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDevueltaMaterial" class="control-label"></label>
                <input asp-for="CantidadDevueltaMaterial" class="form-control" />
                <span asp-validation-for="CantidadDevueltaMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuario" class="control-label"></label>
                <select asp-for="CodUsuario" class="form-control" asp-items="ViewBag.CodUsuario"></select>
                <span asp-validation-for="CodUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodProveedorMaterial" class="control-label"></label>
                <select asp-for="CodProveedorMaterial" class="form-control" asp-items="ViewBag.CodProveedorMaterial"></select>
                <span asp-validation-for="CodProveedorMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodMovimiento" class="control-label"></label>
                <select asp-for="CodMovimiento" class="form-control" asp-items="ViewBag.CodMovimiento"></select>
                <span asp-validation-for="CodMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
