@model InventarioRForever.Models.Color


<section class="full-width header-well">
	<div class="full-width header-well-icon">
		<i class="zmdi zmdi-balance"></i>
	</div>
	<div class="full-width header-well-text">
		<p class="text-condensedLight">
			Bienvenido a la sección de colores de los productos Rouses Forever.
		</p>
	</div>
</section>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	<div class="mdl-tabs__tab-bar">
		<a href="#tabNewClient" class="mdl-tabs__tab is-active">NUEVO COLOR DE PRODUCTOS</a>
		<a href="#tabListClient" class="mdl-tabs__tab">LISTA DE COLORES DE PRODUCTOS</a>
	</div>
	<div class="mdl-tabs__panel is-active" id="tabNewClient">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="full-width panel mdl-shadow--2dp">
					<div class="full-width panel-tittle bg-primary text-center tittles">
						NUEVO COLOR
					</div>
					<div class="full-width panel-content">
						<form asp-action="Create">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--12-col">
									<legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; DATOS DEL COLOR</legend><br>
								</div>

								<div class="mdl-cell mdl-cell--12-col">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<input asp-for="NombreColor" class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameCompany">
										<label asp-for="NombreColor" class="mdl-textfield__label" for="NameCompany">Nombre del color</label>
										<span asp-validation-for="NombreColor" class="mdl-textfield__error">Nombre Invalido</span>
									</div>
								</div>
							</div>
							<p class="text-center">
								<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addCompany">
									<i class="zmdi zmdi-plus"></i>
								</button>
								<div class="mdl-tooltip" for="btn-addCompany">Add company</div>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="mdl-tabs__panel" id="tabListClient">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
				<div class="full-width panel mdl-shadow--2dp">
					<div class="full-width panel-tittle bg-success text-center tittles">
						Lista de colores
					</div>
					<div class="full-width panel-content">
						<div class="mdl-list">
							<div id="modal-placeholder"></div>
							<table id="example" class="display" style="width:100%">
								<thead>
									<tr>
										<th>Codigo Color</th>
										<th>Nombre Color</th>
										<th>Detalles</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Codigo Color</th>
										<th>Nombre Color</th>
										<th>Detalles</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

@if (ViewBag.mensaje != null)
{
	<script>
		Swal.fire({
			icon: 'success',
			title: 'Éxito',
			text: 'Color de producto creado con éxito',
		})
	</script>
}


<script>
	var placeholderElement = $("#modal-placeholder");
	$(document).ready(function () {
		var table = $("#example").DataTable({

			"orderCellsTop": true,
			"fixedHeader": true,
			language:
			{
				"sProcessing": "Procesando...",
				"sLengthMenu": "Mostrar _MENU_ registros",
				"sZeroRecords": "No se encontraron resultados",
				"sEmptyTable": "Ningún dato disponible en esta tabla",
				"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix": "",
				"sSearch": "Buscar:",
				"sUrl": "",
				"sInfoThousands": ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst": "Primero",
					"sLast": "Último",
					"sNext": "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				},
				"buttons": {
					"copy": "Copiar",
					"colvis": "Visibilidad"
				}
			},
			"aoColumnDefs": [
				{
					'bSortable': false,
					'aTargets': [2]
				}],
			"proccessing": true,
			"filter": true,
			"ajax": {
				"url": "@Url.Content("~/Color/listadeColores")",
				"type": "POST",
				"datatype": "json"
			},
			"pageLength": 10,
			"responsivePriority": 1,
			"data": null,
			"columns": [
				{ "data": "codColor", "name": "CodColor", "autoWidth": true },
				{ "data": "nombreColor", "name": "NombreColor", "autoWidth": true },
				{ "defaultContent": "<button id='iddetalle' type='button' class='form btn btn-info'><span class='zmdi zmdi-view-list-alt'></span>Detalles</button>" },
			],

		});


		$('#example tbody').on('click', '#iddetalle', function () //Al hacer click sobre el boton button.form de la linea de arriba
		{
			var row = $(this).parent().parent().children().first().text();
			// console.log(row);
			//alert("cod: "+row);
			$.ajax({
				url: "/Color/detalleColor",
				method: "GET",
				data: { id: row },
				async: true,
				success: function (res) {
					placeholderElement.html(res);
					placeholderElement.find('.modal').modal('show');
				}
			});

		});

	});
</script>